<html lang="ru">
<!-- <head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head> -->
	<body>
		<h1>Привет,</br>
		Меня зовут <%= node['fqdn'] %>, мой IP <%= node['ipaddress'] %>	</h1>
		<pre>
		<%= node['net']['hostname'] %>
		<%= node['server']['username'] %>
		</pre>
	</body>
</html>
